.form-editRecipe #recipe-id {
    display: none;
}

.form-editRecipe #recipe-user {
    display: none;
}

.form-editRecipe #recipe-image {
    display: none;
}

.form-editRecipe .validation-message {
    font-style: normal;
    font-size: 15px;
    color: #FF1C19;
}

.form-editRecipe .recipe-step {
    position: relative;
    overflow: visible;
    border-color: transparent;
    padding: 15px 15px 15px 15px;
}

.form-editRecipe .close-recipe-step {
    position: absolute;
    top: -5px;
    right: -1px;
}