<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(~{::title}, ~{::link}, ~{::section})">
<head>
  <title>User Profile</title>
  <link th:rel="stylesheet" href="css/user/profile.css?ver=<?php echo rand(111,999)?>" />
</head>
<body>

<section class="container user-profile">
  <div class="span3 well text-center">
    <a href="#aboutModal" data-toggle="modal" data-target="#userModal"><img th:src="@{/images/default-profile-picture.jpg}" name="aboutme" width="300" height="300" class="rounded-circle mb-2"></a>
    <h3 th:text="${userName}"></h3>
    <em>Click image for more</em>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body pl-5">
          <div>
            <img th:src="@{/images/default-profile-picture.jpg}" name="aboutme" width="140" height="140" border="0" class="rounded-circle mb-1">
            <h3 class="media-heading" th:text="${userName}"></h3>
          </div>
          <hr>
          <p class="text-left"><strong>Full name: </strong><span th:text="${firstName+' '+lastName}"></span></p>
          <br>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Recipe List-->
  <h1 class="font-weight-bold text-center">My Recipes</h1>
  <a class="btn btn-success" th:href="@{/recipe/edit}" role="button">+ Recipe</a>
  <table class="table table-hover recipe-list mt-1">
    <thead class="thead-dark">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Category</th>
      <th>Difficulty</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${listRecipes}">
      <td><img th:src="${(recipe.image != null && !#strings.isEmpty(recipe.image)) ? recipe.image : '/images/camera.jpg'}" width="60" height="60" border="0"></td>
      <td th:text="${recipe.name}">Name</td>
      <td th:text="${recipe.category}">Category</td>
      <td th:text="${recipe.difficulty}">Difficulty</td>
      <td>
        <a class="btn btn-info" th:href="@{'/recipe/edit?id=' + ${recipe.id}}" role="button">Edit</a>
        <a class="btn btn-danger"
           role="button"
           th:onclick="alert('You are deleting a recipe.')"
           th:href="@{'/recipe/delete/' + ${recipe.id}}"
        >Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</section>

</body>
</html>