<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Footer</title>
</head>
<body>
<footer class="text-muted" th:fragment="footer">
  <div class="container">
    <hr>
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>
      &copy;Copyright 2020 impressiveHen &middot;
      <a href="https://github.com/impressiveHen?tab=repositories">GitHub</a> &middot;
      <a href="https://www.linkedin.com/in/shiang-hu/">LinkedIn</a>
    </p>
  </div>
</footer>
</body>
</html>