.home .overflow-hidden { overflow: hidden; }

.home div div {
    background: aliceblue;
}

.recipecard {
    max-width: 15rem;
    max-length: 30rem;
}

.steps-timeline * {
    box-sizing: border-box;
}

.steps-timeline .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.steps-timeline .timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.steps-timeline .box {
    padding: 5px 55px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.steps-timeline .box::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    right: -4px;
    background-color: #61D4E8;
    border: 2px solid #2DA1E7;
    top: 7px;
    border-radius: 50%;
    z-index: 1;
}

.steps-timeline .left {
    left: 0;
}

.steps-timeline .right {
    left: 50%;
}

.steps-timeline .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 11px;
    width: 0;
    z-index: 1;
    right: 15px;
    border: medium solid white;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent white;
}

.steps-timeline .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 11px;
    width: 0;
    z-index: 1;
    left: 15px;
    border: medium solid white;
    border-width: 5px 5px 5px 0;
    border-color: transparent white transparent transparent;
}

.steps-timeline .right::after {
    left: -8px;
}

.steps-timeline .content {
    padding: 10px 15px;
    background-color: white;
    position: relative;
    border-radius: 3px;
}

@media screen and (max-width: 600px) {
    .steps-timeline .timeline::after {
        left: 15px;
    }

    .steps-timeline .box {
        width: 100%;
        padding-left: 35px;
        padding-right: 12px;
    }

    .steps-timeline .box::before {
        left: 30px;
        border: medium solid white;
        border-width: 5px 5px 5px 0;
        border-color: transparent white transparent transparent;
    }

    .steps-timeline .left::after, .right::after {
        left: 8px;
    }

    .steps-timeline .right {
        left: 0%;
    }
}



