<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <title>Error</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="text-center mt-5">
  <h1>Error occurred</h1>
  <p>
    An error has occurred. Please contact the administrator
  </p>
  <form th:action="@{/}" method="get">
    <button class="btn btn-warning" type="Submit">Back to home page</button>
  </form>
</div>

</body>
</html>

